.icon-tab{
    width: fit-content;
    display: flex;
    color: white;
    align-items: center;
    font-size: 1.5rem;
    gap: 0.7rem;
    margin: 0.3rem 0.5rem 0 58rem;  
}

.notif-icon , .prof-icon{
    justify-content: flex-end;
    height: 2rem;
    width: 2rem;
    text-align: center;
    background-color:  #10757a;
    box-shadow:  -3px -3px 6px rgba(255, 255, 255, 0.1),
    3px 3px 6px rgba(0, 0, 0, 0.678);
    border-radius: 80px;
}



.notif-icon svg , .prof-icon svg{
    color: white;
}
