*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #010326;
}


.content {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-bar{
  border-right: solid rgba(75, 74, 74, 0.55);
  height: 100vh;
}
