<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link href="/public/style.css" rel="stylesheet">
    <link href="/public/transaction.css" rel="stylesheet">
    <title>Transaction</title>
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-top">
          <div id="time" class="time"></div>
        </div>
        <ul class="sidebar-menu">
          <li><a href="/welcome" class="active">Dashboard</a></li>
          <li><a href="/budget">Budget</a></li>
          <li><a href="/transaction">Transaction</a></li>
          <li><a href="/Coins">Coins</a></li>
          <li><a href="/reminders">Reminders</a></li>
          <li><a href="/Learning">Learning</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
    <div class="monthly">
        <div class="months">
            <ul class="months-monthly">
                <li><a href="#" data-month="Jan" class="month-link">Jan</a></li>
                <li><a href="#" data-month="Feb" class="month-link">Feb</a></li>
                <li><a href="#" data-month="March" class="month-link">March</a></li>
                <li><a href="#" data-month="April" class="month-link">April</a></li>
                <li><a href="#" data-month="May" class="month-link">May</a></li>
                <li><a href="#" data-month="June" class="month-link">June</a></li>
                <li><a href="#" data-month="July" class="month-link">July</a></li>
                <li><a href="#" data-month="August" class="month-link">August</a></li>
                <li><a href="#" data-month="September" class="month-link">September</a></li>
                <li><a href="#" data-month="October" class="month-link">October</a></li>
                <li><a href="#" data-month="November" class="month-link">November</a></li>
                <li><a href="#" data-month="December" class="month-link">December</a></li>
            </ul>
        </div>
    </div>
    <button class="open-button" onclick="openForm()">Add Transaction</button>
    <div class="form-popup" id="myForm">
      <form id="transactionForm" class="form-container">
        <h1>Add Transaction</h1>
        <label for="date"><b>Date</b></label>
        <input type="date" id="date" name="date" required>
        <label for="expenseType"><b>Expense Type</b></label>
        <div class="expense-type">
          <input type="radio" id="food" name="expenseType" value="Food" required>
          <label for="food">
            <img src="/images/destination.png" alt="Food" class="expense-type-img">
            <span>Food</span>
          </label>
          <input type="radio" id="healthcare" name="expenseType" value="HealthCare" required>
          <label for="healthcare">
            <img src="/images/healthcare.png" alt="HealthCare" class="expense-type-img">
            <span>HealthCare</span>
          </label>
          
          <input type="radio" id="gadgets" name="expenseType" value="Gadgets" required>
          <label for="gadgets">
            <img src="/images/gadget.png" alt="Gadgets" class="expense-type-img">
            <span>Gadgets</span>
          </label>
          <input type="radio" id="emi" name="expenseType" value="EMI" required>
          <label for="emi">
            <img src="/images/loan.png" alt="EMI" class="expense-type-img">
            <span>EMI</span>
          </label>
          <input type="radio" id="miscellaneous" name="expenseType" value="Miscellaneous" required>
          <label for="miscellaneous">
            <img src="/images/reward.png" alt="Miscellaneous" class="expense-type-img">
            <span>Miscellaneous</span>
          </label>
          <input type="radio" id="travel" name="expenseType" value="Travel" required>
          <label for="travel">
            <img src="/images/destination.png" alt="Travel" class="expense-type-img">
            <span>Travel</span>
          </label>
        </div>
        <label for="month"><b>Month</b></label>
        <select id="month" name="month" required>
          <option value="January">January</option>
          <option value="February">February</option>
          <option value="March">March</option>
          <option value="April">April</option>
          <option value="May">May</option>
          <option value="June">June</option>
          <option value="July">July</option>
          <option value="August">August</option>
          <option value="September">September</option>
          <option value="October">October</option>
          <option value="November">November</option>
          <option value="December">December</option>
        </select>
        <label for="amount"><b>Amount</b></label>
        <input type="number" placeholder="Enter Amount" id="amount" name="amount" required>
        <button type="submit" class="btn">Add Transaction</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
      </form>
    </div>
    <div class="content">
        <h2>Transactions</h2>
        <div class="transaction-entry">
            <div class="dashboard-content">
                <img src="/images/destination.png" alt="Travel">
                <div class="info">
                    <div class="date">12 January 2024</div>
                    <div class="amount">1000 Rs</div>
                </div>
            </div>
            <div class="dashboard-content">
                <img src="/images/shopping-bag.png" alt="Shopping">
                <div class="info">
                    <div class="date">15 January 2024</div>
                    <div class="amount">500 Rs</div>
                </div>
            </div>
            <div class="dashboard-content">
                <img src="/images/healthcare.png" alt="Healthcare">
                <div class="info">
                    <div class="date">18 January 2024</div>
                    <div class="amount">750 Rs</div>
                </div>
            </div>
    <script src="/src/transaction.js"></script>
</body>
</html>
