<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet">
    <title>Transaction</title>
</head>
<body>
    <div class="dashboard-container">
        <div class="sidebar">
            <ul class="sidebar-menu">
                <li><a href="/welcome" class="active">Dashboard</a></li>
                <li><a href="/budget">Budget</a></li>
                <li><a href="/transaction">Transaction</a></li>
                <li><a href="/Coins">Coins</a></li>
            </ul>
        </div>
    </div>
    <div class="monthly">
        <div class="months">
            <ul class="months-monthly">
                <li><a href="#" data-month="Jan" class="month-link">Jan</a></li>
                <li><a href="#" data-month="Feb" class="month-link">Feb</a></li>
                <li><a href="#" data-month="March" class="month-link">March</a></li>
                <li><a href="#" data-month="April" class="month-link">April</a></li>
                <li><a href="#" data-month="May" class="month-link">May</a></li>
                <li><a href="#" data-month="June" class="month-link">June</a></li>
                <li><a href="#" data-month="July" class="month-link">July</a></li>
                <li><a href="#" data-month="August" class="month-link">Aug</a></li>
                <li><a href="#" data-month="September" class="month-link">Sept</a></li>
                <li><a href="#" data-month="October" class="month-link">Oct</a></li>
                <li><a href="#" data-month="November" class="month-link">Nov</a></li>
                <li><a href="#" data-month="December" class="month-link">Dec</a></li>
            </ul>
        </div>
    </div>
    <button class="add-transaction-btn">Add transaction</button>
    <script src="script.js"></script>
</body>
</html>
