<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet">
    <link href="learning.css" rel="stylesheet">
    <title>Welcome</title>
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-top">
          <div id="time" class="time"></div>
        </div>
        <ul class="sidebar-menu">
          <li><a href="/welcome" class="active">Dashboard</a></li>
          <li><a href="/budget">Budget</a></li>
          <li><a href="/transaction">Transaction</a></li>
          <li><a href="/Coins">Coins</a></li>
          <li><a href="/reminders">Reminders</a></li>
          <li><a href="/Learning">Learning</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
    
    <script src="script.js"></script>
</body>
</html>
