body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #302f2f;
    margin: 0;
    font-family: Arial, sans-serif;
}
.main-content {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #2a2929;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #10757a;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.submit-btn:hover {
    background-color: #0e6569;
}
p {
    text-align: center;
    margin-top: 20px;
}
p a {
    color: #54aeb3;
    text-decoration: none;
}
p a:hover {
    text-decoration: underline;
}