.home-nav {
  display: flex;
  color: white;
  height: 4rem;
  align-items: center;
  padding: 0px 12px;
  box-shadow: -3px -3px 10px #ffffff74, 3px 3px 10px rgba(0, 0, 0, 0.993);
  position: fixed; 
  width: 100%;
  top: 0;
  z-index: 1000; 
  background-color: rgb(18, 18, 18);

}

.home-nav-logo {
  font-size: 3rem;
  margin-bottom: 0.8rem;
}

.home-nav-el {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  font-size: 1.2rem;
  margin-left: 25rem;
  font-family: montserrat;
}

.home-nav-el a {
  text-decoration: none !important;
  color: white;
}

.home-nav-el a.active {
  border-bottom: 0.2rem solid #10757a;
  padding-bottom: 0.2rem;
}
